
        <link rel="stylesheet" href="../CSS/card.css" scoped="true">
        <div class="card" style="width:240px; margin-right: 20px; padding: 10px;">
        
          <img class="card-img" src="{#IMAGE}" alt="Vans" style="width:140px; height:180px; margin: auto;">
          <div class="card-body">
            <h4 class="card-title" style="font-size:20px;">{#TITLE}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{#CATEGORY}</h6>
            <div class="buy d-flex justify-content-between align-items-center"
              style="margin: 0px; display: flex; justify-content:space-between;">
              <div class="price text-success" style="margin: 0px;">
                <h5 class="mt-4" style="margin: 0px;">{#PRICE}</h5>
              </div>
              <div>
                <a href="#" class="btn btn-danger mt-3" style="font-size:15px;"><i class="fas fa-shopping-cart"></i> Buy now</a>
              </div>
            </div>
          </div>
        </div>
