<div class="SupportContainer">
    <link rel="stylesheet" href="../CSS/support.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <div class="support-header">
        <div class="support-header-content">
            <div class="support-text">
                <h2>
                    Xin chào, bạn đang gặp sự cố gì?
                </h2>
            </div>
            <form onsubmit="return false;">
                <input type="text" id="userProblem" class="support-input" placeholder="Mô tả sự cố của bạn">
            </form>
        </div>
    </div>
    <div class="support-content">
        <div class="support-categories">
            <p class="support-categories-text">Danh mục</p>
            <p class="support-category" id="SP-order">
                Đơn hàng
            </p>
            <p class="support-category" id="SP-payment">
                Thanh toán
            </p>
            <p class="support-category" id="SP-ReturnAndRefund">
                Trả hàng & hoàn tiền
            </p>
            <p class="support-category" id="SP-sell">
                Bán hàng
            </p>
            <p class="support-category" id="SP-controlling">
                Đối soát
            </p>
            <p class="support-category" id="SP-shipping">
                Vận chuyển
            </p>
            <p class="support-category" id="SP-account">
                Tài khoản
            </p>
            <p class="support-category" id="SP-security">
                Bảo mật & Quyền riêng tư
            </p>
            <p class="support-category" id="SP-notification">
                Thông báo
            </p>
            <p class="support-category" id="SP-terms&service">
                Điều khoản và dịch vụ
            </p>
            <p class="support-category" id="SP-report">
                Báo cáo
            </p>
        </div>
        <div class="descContent">
            <div>
                <h2 class="CommonQuestionText">Câu hỏi thường gặp</h2>
                <div class="questionsDiv">
                    <div class="question">
                        Không đăng nhập được vào tài khoản?

                    </div>
                    <div class="question">
                        Làm sao để sản phẩm của tôi được rao bán?
                    </div>
                    <div class="question">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry </div>
                    <div class="question">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry </div>
                    <div class="question">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry </div>
                    <div class="question">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry </div>
                    <div class="question">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry </div>
                </div>
            </div>

            <div>
                <h2 class="CommonQuestionText" style="margin-top: 70px; text-align: center;">
                    Chủ đề thịnh hành
                </h2>
                <div class="popularTopics">
                    <p class="link-text" id="signInManager">Quản lý đăng ký của bạn</p>
                    <p class="link-text" id="signInManager">Đăng nhập vào tài khoản của bạn</p>
                    <p class="link-text" id="signInManager">Thay đổi mật khẩu tài khoản của bạn</p>
                    <p class="link-text" id="signInManager">Quản lý cài đặt về quyền riêng tư của bạn</p>
                    <p class="link-text" id="signInManager">Lorem Ipsum is simply dummy text of the printing
                    </p>
                    <p class="link-text" id="signInManager">Lorem Ipsum is simply dummy text of the printing
                    </p>
                    <p class="link-text" id="signInManager">Lorem Ipsum is simply dummy text of the printing
                    </p>
                    <p class="link-text" id="signInManager">Lorem Ipsum is simply dummy text of the printing
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>