<div style="margin-top: -30px;">
    <link rel="stylesheet" type="text/css" href="../CSS/Login.css" />

    <div id="signUpForm">
        <div class="LoginTable">
            <div class="LoginBackground" style="height: 550px;">
                <div class="logInText">
                    <span class="loginHeader">Đăng kí</span>
                    <p>Privacy policy & terms of service</p>
                </div>
            </div>
            <div class="realLoginTable">
                <div>
                    <div class="inputDiv">
                        <div class="thisIsAnInput">
                            <input type="input" class="field" placeholder="Tên đăng kí" id="SignUpname">
                            <label for="name" class="label">
                                Tên đăng kí
                            </label>
                        </div>
                        
                        <div class="thisIsAnInput">
                            <input type="input" class="field" placeholder="Email" id="SignUpEmail">
                            <label for="name" class="label">
                                Email
                            </label>
                        </div>

                        <div class="thisIsAnInput">
                            <input type="input" class="field" placeholder="Số điện thoại" id="phoneNumber">
                            <label for="name" class="label">
                                Số điện thoại
                            </label>
                        </div>

                        <div class="thisIsAnInput">
                            <input type="password" class="field" placeholder="Mật khẩu" id="SignUpPassword">
                            <label for="name" class="label">
                                Mật khẩu
                            </label>
                        </div>


                        <div class="thisIsAnInput">
                            <input type="password" class="field" placeholder="Nhập lại mật khẩu" id="SUretypePass">
                            <label for="name" class="label">
                                Nhập lại mật khẩu
                            </label>
                        </div>
                                                <div>
                                                    <span id="signUpErrorText" style="color: red; margin-left: 10px;"></span>
                                                </div>
                    </div>
                </div>
                <div class="LGbtn">
                    <input type="button" id="signUpBtn" class="signUpBtn" value="Đăng kí" style="  height: 50px;
    width: 95%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2196F3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition-duration: 0.1s;
    margin-top: 10px;
" />
                </div>
                <div class="signupText">
                    <p>Hoặc</p>
                    <div class="socialMedia" style="display:flex; justify-content:center">
                        <div id="google" class="socialMedia-brand google" >
                            <div>
                                <img src="../ASSETS/Google.jpg" alt="" height="40px;" style="margin-top: 0.75px;">
                            </div>
                            <div style="height: 100%; width:100%; display:flex; align-items:center; justify-content:center;">
                                Google
                            </div>
                        </div>
                        <div id="facebook" class="socialMedia-brand facebook">
                            <div>
                                <img src="../ASSETS/Facebook.webp" alt="" height="30px;" style="margin-top: 0.75px; margin-left: 3px;">
                            </div>
                            <div style="height: 100%; width:100%; display:flex; align-items:center; justify-content:center;">
                                Facebook
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>